<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add connectionString="3SHJq2fodYlThwIgpF62Urym54Hn86EM/QAvzAqbCs+OkOby+C9VwYiHNV9UQJV0T9DZi74RNooG7SqxCZNCgZYGt6ZtzDNyn45fO4XAGG7qH34U883TA2ekjWq5T5Ft" name="ConnectionString_MSSQL" />-->
    <add connectionString="3SHJq2fodYniZZKQqXui7a7Ogc3s2xJ3y3UBBcQu5lEqxGHRvsF+gNiqsKm4+NA1ulPlNWN2KydqlLByhr01osI5fmWqInQBcr0z46SbMK15vXaGQKqY7V17GgTxGPCcgcPwqamHUbMN04RH/L6TBg==" name="ConnectionString_MSSQL" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
</configuration>