
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h1>新增产品分类</h1>
        <form>
            <div class="form-group">
                <label for="txtClassName">分类名称</label>
                <input type="text" class="form-control" id="txtClassName" />
            </div>
            <input type="button" class="btn btn-primary" id="btnSave" value="保存" />
            <input type="button" class="btn btn-primary" id="btnCancel" value="取消" />
        </form>
    </div>
</body>
</html>
