
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/MyJsLib/MyPageList.js"></script>
    <script type="text/javascript">

        $(function () {
            Init();
        });

        function Init() {
            var lColumns = new Array();
            var lTitleColumn = new PageTableColumn();
            lTitleColumn.mColumnHeaderText = "分类名称";
            lTitleColumn.mColumnDataSourceID = "Title";
            lColumns.push(lTitleColumn);
            var lEditColumn = new PageTableButtonColumn();
            lEditColumn.mColumnHeaderText = "";
            lEditColumn.mColumnDataSourceID = "";
            lEditColumn.mClickEventHandler = Edit_EventHandler;
            lEditColumn.mButtonCaption = "编辑";
            lColumns.push(lEditColumn);
            var lDelColumn = new PageTableButtonColumn();
            lDelColumn.mColumnHeaderText = "";
            lDelColumn.mColumnDataSourceID = "";
            lDelColumn.mButtonCaption = "删除";
            lDelColumn.mClickEventHandler = Del_EventHandler;
            lColumns.push(lDelColumn);

            var lPageTable = new PageTable(
                {
                    mTableDivID: "divProductClassList"
                    ,
                    mPageIndexDivID: "divPageIndex"
                    ,
                    mRequestUrl: "/ProductClass/GetListData"
                    ,
                    mRequestParams: {}
                    ,
                    mColumns: lColumns
                }
                );
            lPageTable.LoadData(1);
        }

        function btnAdd_Click(pSender) {
            $("#divContent").load("/ProductClass/Add");
        }

        function Edit_EventHandler(pData) {
            var lRowData = pData.data.RowData;
            $("#divContent").load("/ProductClass/Edit?ID=" + lRowData.ID);
        }

        function Del_EventHandler(pData) {
            //询问框
            layer.confirm('您确认删除吗？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                layer.msg('的确很重要', { icon: 1 });
            }, function () {
                layer.msg('也可以这样', {
                    time: 20000, //20s后自动关闭
                    btn: ['明白了', '知道了']
                });
            });
        }
    </script>
</head>
<body>
    <div style="margin:10px;">
        <h1>产品分类列表</h1>
        <input type="button" id="btnAdd" class="btn btn-primary" style="float:right;" value="新增" onclick="btnAdd_Click(this);" />
        <div id="divProductClassList">
        </div>
        <div id="divPageIndex">
        </div>
    </div>
</body>
</html>