
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Scripts/MyJsLib/MyPageList.js"></script>
    <script type="text/javascript">

        $(function () {
            Init();
        });

        function Init() {
            var lPageTable = new PageTable(
                {
                    mTableDivID: "divDistributorList"
                    ,
                    mPageIndexDivID: "divPageIndex"
                    ,
                    mRequestUrl: "/Distributor/GetListData"
                    ,
                    mRequestParams: {}
                    ,
                    mColumns: [
                        {
                            mColumnHeaderText: "编码"
                            ,
                            mColumnDataSourceID: "Code"
                        }
                        ,
                        {
                            mColumnHeaderText: "姓名"
                            ,
                            mColumnDataSourceID: "Name"
                        }
                        ,
                        {
                            mColumnHeaderText: "省份"
                            ,
                            mColumnDataSourceID: "Province"
                        }
                        ,
                        {
                            mColumnHeaderText: "地址"
                            ,
                            mColumnDataSourceID: "Address"
                        }
                        ,
                        {
                            mColumnHeaderText: "联系电话"
                            ,
                            mColumnDataSourceID: "Telephone"
                        }
                    ]
                }
                );
            lPageTable.LoadData(1);
        }


    </script>
</head>
<body>
    <h1>经销商列表</h1>
    <div>
        <div id="divDistributorList">
        </div>
        <div id="divPageIndex">
        </div>
    </div>
</body>
</html>
