@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    tr {
        height: 23px;
    }
</style>

<h2>车辆列表</h2>
<div>
    <table class="table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th style="width:100px;">序号</th>
                <th style="width:200px;">车号</th>
            </tr>
        </thead>
        <tbody id="CarListBody"></tbody>
    </table>
    <nav>
        <ul class="pagination" id="Pages"></ul>
    </nav>
</div>
<script type="text/javascript" src="/Models/Car/Paging.js"></script>
<script type="text/javascript" src="/Models/Car/Car.js"></script>
<script type="text/javascript" src="/Models/Car/Index.js"></script>
