
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <script type="text/javascript" src="~/Scripts/MyJsLib/MyPageList.js"></script>
    <script type="text/javascript">

        $(function () {
            Init();
        });

        function Init() {
            myPageList.Config(
                {
                    mTableDivID: "divProductList"
                    ,
                    mPageIndexDivID: "divPageIndex"
                    ,
                    mRequestUrl: "/Product/GetListData"
                    ,
                    mRequestParams: {}
                    ,
                    mColumns: [
                        {
                            mColumnHeaderText: "产品编码"
                            ,
                            mColumnDataSourceID: "Code"
                        }
                        ,
                        {
                            mColumnHeaderText: "产品全称"
                            ,
                            mColumnDataSourceID: "Name"
                        }
                        ,
                        {
                            mColumnHeaderText: "产品简称"
                            ,
                            mColumnDataSourceID: "ShortName"
                        }
                        ,
                        {
                            mColumnHeaderText: "产品类型"
                            ,
                            mColumnDataSourceID: "Type"
                        }
                        ,
                        {
                            mColumnHeaderText: "电压等级"
                            ,
                            mColumnDataSourceID: "Voltage"
                        }
                        ,
                        {
                            mColumnHeaderText: "产品规格"
                            ,
                            mColumnDataSourceID: "Spec"
                        }
                        ,
                        {
                            mColumnHeaderText: "产品分类编码"
                            ,
                            mColumnDataSourceID: "ClassID"
                        }
                    ]
                }
                );
            myPageList.LoadData(1);
        }

      
    </script>
</head>
<body>
    <div style="margin:10px;">
        <h1>产品列表</h1>
        <div id="divProductList">

        </div>
        <div id="divPageIndex">

        </div>
    </div>
</body>
</html>
