@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <script type="text/javascript" src="~/Scripts/MyJsLib/MyPageList.js"></script>
    <script type="text/javascript">

        $(function () {
            Init();
        });

        function Init() {
            myPageList.Config(
                {
                    mTableDivID: "divList"
                    ,
                    mPageIndexDivID: "divPageIndex"
                    ,
                    mRequestUrl: "/Order/GetListData"
                    ,
                    mRequestParams: {}
                    ,
                    mColumns: [
                        {
                            mColumnHeaderText: "订单号"
                            ,
                            mColumnDataSourceID: "ID"
                        }
                        ,
                        {
                            mColumnHeaderText: "客商编号"
                            ,
                            mColumnDataSourceID: "CustomerCode"
                        }
                        ,
                        {
                            mColumnHeaderText: "经销商编号"
                            ,
                            mColumnDataSourceID: "DistributorCode"
                        }
                        ,
                        {
                            mColumnHeaderText: "订单提交日期"
                            ,
                            mColumnDataSourceID: "SubmitDate"
                        }
                        ,
                        {
                            mColumnHeaderText: "下单人"
                            ,
                            mColumnDataSourceID: "SubmitMan"
                        }
                        ,
                        {
                            mColumnHeaderText: "收货地址"
                            ,
                            mColumnDataSourceID: "RecAddress"
                        }
                        ,
                        {
                            mColumnHeaderText: "预计发货日期"
                            ,
                            mColumnDataSourceID: "DeliveryDate"
                        }
                        ,
                        {
                            mColumnHeaderText: "订单金额"
                            ,
                            mColumnDataSourceID: "Money"
                        }
                        ,
                        {
                            mColumnHeaderText: "开票金额"
                            ,
                            mColumnDataSourceID: "InvoiceMoney"
                        }
                    ]
                }
                );
            myPageList.LoadData(1);
        }
    </script>
</head>
<body>
    <div>
        <h1>Order List</h1>
        <div id="divList" style="margin:10px;">

        </div>
        <div id="divPageIndex" style="margin:10px">

        </div>
    </div>
</body>
</html>
